/* 
@media screen and (max-width: 576px) {
    .card {
      width: 100%;
      margin-bottom: 1rem;
      margin: 0 auto;
     
    }
  }
  
  
  @media only screen and (min-width: 577px) and (max-width: 760px) {
   
    .card {
      flex-basis: 48%;
      margin-bottom: 15px;
      margin: 0 auto;
    }
  
   
  
    .btn-group {
      margin: auto;
    }
  }
  */
  


 @media screen and (min-width: 761px) and (max-width: 990px) {

    .container {
      max-width: 1000px;
      margin: 0 auto;
    }
    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .col-md-4 {
      flex: 0 0 calc(50% - 1rem);
      margin-bottom: 1rem;
    }
    .card {
      width: 100%;
      margin: 0 auto;
    }

    .button {
      /* width: -200px; */
       font-size: 12px;
     }

    .btn-group {
      /* width: -200px; */
      margin-right: 10px;
    
    
      
    }
    
  }
  
   
  
   /* .wrap {
    flex-wrap: wrap;
  } */
  .col {
    flex-basis: 200px;
    flex-shrink: 1;
    flex-grow: 1;
  }
  .card {
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(134, 131, 131, 0.1);
    display: flex;
    flex-direction: column;
    margin: 16px;
    max-width: 300px;
    padding: 26px;
    
    border: 1px solid;
 
  }
  
  .card h2 {
    font-size: 1.5rem;
    margin-top: 0;
  }
  
  .card p {
    font-size: 1rem;
    margin: 8px 0;
  }
  
  .card .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card .price button {
    background-color: #f7f7f7;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
  }
  
  .card .price button:hover {
    background-color: #e0e0e0;
  }
  
  .card .price .price-value {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .card .price .price-change {
    color: #21d527;
    font-size: 1rem;
  }
  /* Styles for small screens (up to 576px) */
